/* Colors */
:root {
  --green: forestgreen;
}

.page {
  width: 900px;
  min-height: 29.7cm;
  margin: 5px auto;
  background: white;
  padding: 20px 50px;
}
.bold {
  font-weight: bold;
}
.center {
  text-align: center;
}
.col-left {
  float: left
}
.col-right {
  float: right
}
.contact {
  font-size: 12px;
  height: 70px;
}
.contact-item {
  float: left;
  width: 180px;
}
.desc {
  padding-left: 15px;
  font-size: 14px;
}
.desc li {
  list-style-type: circle;
}
.icon-background {
  color: white;
}
.light {
  color: #aaa;
  letter-spacing:1px;
  font-size: 12px;
  line-height:28px;
  font-family: "source-sans-pro", sans-serif;
  text-transform: uppercase;
}
.loose {
  letter-spacing: 4px;
}
.section {
  border-bottom: 1px solid #ddd;
  padding: 10px 0 15px;
}
.section-header {
  text-transform: uppercase;
}
.section-text {
  height: auto;
  width: 80%;
  font-size: 18px;
  line-height: 24px;
  margin: 10px 0 10px;
  padding: 0px 10px;
}
ul.skills{
  float:left;
  width:12%;
  padding-left:0px;
  margin: 4px 30px 0 0;
}
ul.skills li{
  list-style: none;
  font-size:16px;
  margin-bottom:5px;
}
ul.skills.short{
  width: 8%;
}
.subsection {
  padding-top: 10px;
}
.subsection p {
  font-size: 14px;
}
.title {
  font-style: italic;
}
.job-title {
  color: var(--green);
}
.row:after {
  clear: both
}
.row:before, .row:after {
  content: "";
  display: table;
}
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}

/* Publication Section */
.publication-listing{
  padding: 4px 0;
}
.publication-listing a{
  text-decoration: none;
  color: black;
}
.publication-listing a:hover {
  color: var(--green);
  text-decoration: underline;
}
